* {
  margin: 0;
  padding: 0;
  border: 0;
}
.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* Resume */
#resume {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#personal {
  background-color: #ecebeb;
  text-align: center;
}

#personal button {
  background-color: white;
  padding: 10px;
}

#personal label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

#personal h2,
#personal h3 {
  text-align: center;
  margin-bottom: 10px;
}

#personal h2:first-child {
  margin-top: 50px;
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  text-align: center;
}

/* Summary */
#Summary {
  margin-top: 50px;
}
#Summary .adding {
  visibility: hidden;
}
#Summary:hover .adding {
  visibility: visible;
}
.add-summary {
  visibility: hidden;
}
.add-summary.visible {
  visibility: visible;
}
.summary {
  margin-top: 10px;
}

.summary div {
  margin-bottom: 10px;
}
.summary p {
  display: inline;
}
.examples {
  margin-top: 10px;
}
/* General */
#other {
  background-color: #f9f9f9;
  padding: 0 30px 0 20px;
}
input {
  border: 1px solid black;
  margin: 10px 0;
}
.form {
  visibility: hidden;
  background-color: white;
  /* position: absolute; */
}
.form.visible {
  visibility: visible;
}
#Personal .to-edit {
  visibility: hidden;
}
#Personal:hover .to-edit {
  visibility: visible;
}

hr {
  border: 1px solid black;
}

@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  div.divFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 5px;
    background-color: #e5e4e5;
  }
  .invisible {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
