* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* Resume */
}

.wrapper hr {
  border: 1px solid black;
}

.wrapper .invisible {
  text-align: center;
}

.wrapper input {
  border: 1px solid black;
  margin: 10px 0;
}

.wrapper #resume {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper #resume #Personal {
  background-color: #ecebeb;
  text-align: center;
}

.wrapper #resume #Personal button {
  background-color: white;
  padding: 10px;
}

.wrapper #resume #Personal label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.wrapper #resume #Personal h2,
.wrapper #resume #Personal h3 {
  text-align: center;
  margin-bottom: 10px;
}

.wrapper #resume #Personal h2:first-child {
  padding-top: 50px;
}

.wrapper #resume #Personal img {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper #resume #Personal .form {
  visibility: hidden;
  background-color: white;
  /* position: absolute; */
}

.wrapper #resume #Personal .form.visible {
  visibility: visible;
}

.wrapper #resume #Personal .to-edit {
  visibility: hidden;
}

.wrapper #resume #Personal:hover .to-edit {
  visibility: visible;
}

.wrapper #resume #other {
  background-color: #f9f9f9;
  padding: 0 30px 0 20px;
  /* Summary */
}

.wrapper #resume #other #Education:hover .adding {
  visibility: visible;
}

.wrapper #resume #other #Education {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.wrapper #resume #other #Education .add-education {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  background-color: white;
}

.wrapper #resume #other #Education .add-education input {
  display: block;
}

.wrapper #resume #other #Education .add-education.visible {
  visibility: visible;
}

.wrapper #resume #other #Education p:first-child {
  margin-top: 10px;
  text-align: right;
}

.wrapper #resume #other #Education .adding {
  visibility: hidden;
  color: white;
  background-color: black;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.wrapper #resume #other #Experience:hover .adding {
  visibility: visible;
}

.wrapper #resume #other #Experience {
  margin-top: 20px;
  position: relative;
}

.wrapper #resume #other #Experience hr {
  margin-bottom: 80px;
}

.wrapper #resume #other #Experience hr {
  margin-bottom: 20px;
}

.wrapper #resume #other #Experience .add-experience {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  background-color: white;
}

.wrapper #resume #other #Experience .add-experience input {
  display: block;
}

.wrapper #resume #other #Experience .add-experience.visible {
  visibility: visible;
}

.wrapper #resume #other #Experience .adding {
  visibility: hidden;
  color: white;
  background-color: black;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.wrapper #resume #other #Experience .experience div p:first-child {
  text-align: right;
  margin-top: 10px;
}

.wrapper #resume #other #Experience .experience ul {
  margin-left: 20px;
}

.wrapper #resume #other #Summary {
  margin-top: 50px;
}

.wrapper #resume #other #Summary #Skills:hover .adding-skills {
  visibility: visible;
}

.wrapper #resume #other #Summary #Skills {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper #resume #other #Summary #Skills .skills {
  margin-left: 20px;
}

.wrapper #resume #other #Summary #Skills .adding-skills {
  visibility: hidden;
  color: white;
  background-color: black;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.wrapper #resume #other #Summary #Skills .add-skills {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  background-color: white;
}

.wrapper #resume #other #Summary #Skills .add-skills.visible {
  visibility: visible;
}

.wrapper #resume #other #Summary .github {
  margin-bottom: 10px;
}

.wrapper #resume #other #Summary .examples {
  margin-top: 10px;
}

.wrapper #resume #other #Summary .summary {
  margin-top: 10px;
}

.wrapper #resume #other #Summary .summary div {
  margin-bottom: 10px;
}

.wrapper #resume #other #Summary .summary p {
  display: inline;
}

.wrapper #resume #other #Summary .add-summary {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  background-color: white;
}

.wrapper #resume #other #Summary .add-summary input {
  display: block;
}

.wrapper #resume #other #Summary .add-summary.visible {
  visibility: visible;
}

.wrapper #resume #other #Summary #summary-inner {
  position: relative;
}

.wrapper #resume #other #Summary #summary-inner .adding {
  visibility: hidden;
  color: white;
  background-color: black;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.wrapper #resume #other #Summary #summary-inner:hover .adding {
  visibility: visible;
}

@media screen {
  div.divFooter {
    display: none;
  }
}

@media print {
  *:not(h3) {
    font-size: 20px;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  div.divFooter {
    font-size: 11px;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: #e5e4e5;
  }
  .invisible {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
