* {
  margin: 0;
  padding: 0;
  border: 0;
}
.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .invisible {
    text-align: center;
  }
  input {
    border: 1px solid black;
    margin: 10px 0;
  }
  /* Resume */
  #resume {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // align-content: flex-start;
    #Personal {
      background-color: #ecebeb;
      text-align: center;
      button {
        background-color: white;
        padding: 10px;
      }
      label {
        display: block;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
      }
      h2,
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
      h2:first-child {
        padding-top: 50px;
      }
      img {
        width: 200px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .form {
        visibility: hidden;
        background-color: white;
        /* position: absolute; */
      }

      .form.visible {
        visibility: visible;
      }
      .to-edit {
        visibility: hidden;
      }
    }
    #Personal:hover .to-edit {
      visibility: visible;
    }

    #other {
      background-color: #f9f9f9;
      padding: 0 30px 0 20px;
      /* Summary */
      #Summary {
        margin-top: 50px;
        position: relative;
        .github {
          margin-bottom: 10px;
        }
        hr {
          border: 1px solid black;
        }
        .examples {
          margin-top: 10px;
        }
        .summary {
          margin-top: 10px;
          div {
            margin-bottom: 10px;
          }
          p {
            display: inline;
          }
        }
        .adding {
          visibility: hidden;
          color: white;
          background-color: black;
          padding: 10px;
          position: absolute;
          bottom: 50px;
          right: 50px;
        }
        .add-summary {
          visibility: hidden;
          position: absolute;
          bottom: 50px;
          background-color: white;
          input {
            display: block;
          }
        }
        .add-summary.visible {
          visibility: visible;
        }
        #summary-inner:hover .adding {
          visibility: visible;
        }
      }
    }
  }
}

@media screen {
  div.divFooter {
    display: none;
  }
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  div.divFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 5px;
    background-color: #e5e4e5;
  }
  .invisible {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
